/*
=================================
=================================

*/
$clr-primary: #fbd214;
$clr-secondary: #feb633;
$clr-white: #ffffff;
$clr-title: #cccccc;
$clr-text: #727b86;
$bg-primary: #2b2c2c;
$bg-secondary: #303131;
$transition: all 0.5s linear;

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.btn {
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: $clr-white;
  background: $clr-primary;
  padding: 0.6rem 1.5rem;
  &:hover {
    color: $clr-secondary;
    border: 1px solid $clr-secondary;
    background: $bg-primary;
  }
}
