/*
=================================
=================================

*/
$clr-primary: #fbd214;
$clr-secondary: #feb633;
$clr-white: #ffffff;
$clr-title: #cccccc;
$clr-text: #727b86;
$bg-primary: #2b2c2c;
$bg-secondary: #303131;
$transition: all 0.3s linear;

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.btn {
  border-radius: 5px;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  color: $clr-white;
  background: $clr-secondary;
  padding: 0.7rem 2rem;
  transition: $transition;
  &:hover {
    color: $clr-secondary;
    border: 2px solid $clr-secondary;
    background: $bg-primary;
  }
}
